# FILE: shviki-fitness-gitops/helm/templates/external-secrets.yaml

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
  annotations:
    # Sync this early, before your main app
    argocd.argoproj.io/sync-wave: "-1" 
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    # Deploy into the 'external-secrets' namespace
    # that your Terraform code already created
    namespace: external-secrets 
  source:
    repoURL: {{ .Values.apps.externalSecrets.repoURL }}
    chart: {{ .Values.apps.externalSecrets.chart }}
    targetRevision: {{ .Values.apps.externalSecrets.version }}
    helm:
      values: |
        # Tell the chart to install the CRDs it needs
        installCRDs: true
        
        # --- THIS IS THE KEY ---
        # We tell the chart NOT to create a new service account
        serviceAccount:
          create: false
          # Instead, we tell it to USE the 'external-secrets-sa'
          # that Terraform already created and annotated with the IAM role
          name: "external-secrets-sa"
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    # We set this to false because Terraform
    # is responsible for creating this namespace
    - CreateNamespace=false