apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ .Values.apps.monitoring.repoURL }}
    chart: {{ .Values.apps.monitoring.chart }}
    targetRevision: {{ .Values.apps.monitoring.version }}
    helm:
      valuesObject:
        nodeSelector: {{ toYaml .Values.systemNodeSelector.nodeSelector | nindent 8 }}
        tolerations: {{ toYaml .Values.systemNodeSelector.tolerations | nindent 8 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
