# FILE: shviki-fitness-gitops/helm/templates/monitoring-crds.yaml

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: {{ .Values.apps.monitoring.repoURL }}
    chart: "prometheus-operator-crds"
    targetRevision: "1.1.0"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    # --- THIS IS THE FIX ---
    # Use Server-Side Apply to avoid the 256KiB annotation limit on large CRDs
    - ServerSideApply=true