# FILE: shviki-fitness-gitops/helm/templates/monitoring-crds.yaml

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: {{ .Values.apps.monitoring.repoURL }}
    chart: {{ .Values.apps.monitoring.chart }}
    targetRevision: {{ .Values.apps.monitoring.version }}
    helm:
      values: |
        # 1. Install the CRDs
        crds:
          enabled: true
        
        # 2. Disable EVERYTHING else (this is the correct syntax)
        prometheusOperator:
          enabled: false
        prometheus:
          enabled: false
        alertmanager:
          enabled: false
        grafana:
          enabled: false
        kube-state-metrics:
          enabled: false
        prometheus-node-exporter:
          enabled: false
        defaultRules:
          create: false
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    # ServerSideApply is still needed for the large CRDs
    - ServerSideApply=true
    # Prune=true will delete the extra pods (like 'monitoring-crds-kube-prome-operator')
    - Prune=true