apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shviki-fitness
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ .Values.apps.shvikiFitness.repoURL }}
    path: {{ .Values.apps.shvikiFitness.path }}
    targetRevision: {{ .Values.apps.shvikiFitness.targetRevision }}
    helm:
      valuesObject:
        nodeSelector: {{ toYaml .Values.workloadNodeSelector.nodeSelector | nindent 8 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.global.namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
        - CreateNamespace=true
