# FILE: shviki-fitness-gitops/helm/values.yaml

# ------------------------------------------------------------
# Argo CD Application Definitions
# ------------------------------------------------------------
apps:
  shvikiFitness:
    repoURL: "https://github.com/Kingofgrow/shviki-fitness"
    path: "helm/helm-chart"
    targetRevision: "main"

  monitoring:
    repoURL: "https://prometheus-community.github.io/helm-charts"
    chart: "kube-prometheus-stack"
    version: "61.2.0"

  clusterAutoscaler:
    repoURL: "https://kubernetes.github.io/autoscaler"
    chart: "cluster-autoscaler"
    version: "9.29.1"

# ------------------------------------------------------------
# Global Project Configuration
# ------------------------------------------------------------
global:
  clusterName: shviki-fitness-prod-eks
  awsRegion: eu-west-1
  namespace: sh

# ------------------------------------------------------------
# Node placement
# ------------------------------------------------------------
systemNodeSelector:
  nodeSelector:
    role: system
  tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"

workloadNodeSelector:
  nodeSelector:
    role: workload